/* FightView */

.Wrapper {
  /* height: 100vh; */
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.FightViewWrapper {
  justify-content: center;
  text-align: center;
}

.optionBar {
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
}

/*FightView ends */
