.CharacterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;
}

.CharacterContainer {
  height: 200px;
  text-align: center;
  padding: 20px;
}

.SkillContainer {
  height: 200px;
  text-align: center;
  padding: 20px;
}


.FightViewWrapper {
  display: flex;
  align-self: center;
  justify-content: space-around;
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: black;

}

.Enemy {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  align-self: flex-start;
  background-color: red;
}

.Me {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  align-self: flex-end;
  background-color: blue;
}

.optionBar {
  background-color: gray;
}

.Wrapper {
  width: 300px;
}
